<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mt-10" *ngFor="let todo of todos">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Lorem, ipsum dolor.</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            </mat-card-content>
            <mat-card-actions>
                <div class="row">
                    <button mat-button color="primary">View</button>
                    <button mat-button color="primary">Update</button>
                    <button mat-button color="primary">Delete</button>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
</div>