<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mt-10" *ngFor="let todo of todos">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{todo.title}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>{{todo.description}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-icon-button color="primary"><mat-icon>update</mat-icon></button>
                <button mat-icon-button color="primary" (click)="onDeleteTodo(todo.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>