<mat-card>
    <mat-card-header>
        <mat-card-title>{{todo.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>{{todo.description}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-icon-button color="primary" [routerLink]="['update-todo/', todo.id]">
            <mat-icon>update</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="onDeleteTodo(todo.id)">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>